
:root {
    --pink: "#ea5dbd";
    --orange: "#ffa30a";
    --green: "#8bdc63";
    --blue: "#38b5e6";
    --mainFont: 'Titillium Web', sans-serif;
}

body, html {
    /*font-family: var(--mainFont);*/
    height: 100%;
}

main {
    height: 100%;
}

.btn-element {
    background: rgb(56,181,230);
    background: linear-gradient(90deg, rgba(56,181,230,1) 0%, rgba(234,93,189,1) 34%, rgba(255,163,10,1) 100%);
    padding: 4px 18px;
    font-size: 14px;
    color: #fff;
    height: 46px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 600;
    border: 0;
}

.btn-element:hover {
    background: rgb(139,220,99);
    background: linear-gradient(90deg, rgba(139,220,99,1) 0%, #38b5e6 34%, rgba(255,163,10,1) 100%);
    /*background-color: #ffa30a;*/
    /*border-color: #ffa30a;*/
    color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

.form-control {
    border: 2px solid #d3d3d3bf;
    background-color: whitesmoke;
    height: 44px;
    border-radius: 10px;
}

.form-control:focus {
    outline: none;
    border-color: #8bdc63;
    box-shadow: none;
}

.label-item {
    margin-bottom: 2px;
    text-transform: uppercase;
    font-weight: 600;
    color: gray;
    font-size: 12px;
    padding-left: 15px;
}

/*

Login Page Style
*/

.login-page-wrapper {
    /*background-image: url("../images/pattern.svg");*/
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login-page-wrapper .btn-element {
    width: 100%;
    margin-top: 28px;
}

.login-page-wrapper .title-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 34px;
    color: grey;
}

.login-page-wrapper .form-holder {
    width: 400px;
    padding-top: 60px;
}