
:root {
    --pink: #ea5dbd;
    --orange: #ffa30a;
    --green: #8bdc63;
    --blue: #38b5e6;
    --lightgrey: #d3d3d3bf;
    --favorite-grey: #f7f7f7;
    --mainFont: 'Fira Sans', sans-serif;
    --dancingScriptFont: 'Dancing Script', cursive;
    --map-red-marker-color: #D98880;
    --map-yellow-marker-color: #F1C40F;
}

html {
    font-size: 62.5%;
}

body, html {
    height: 100%;
    font-weight: 300;
}

main {
    height: 100%;
}

body {
    font-size: 1.4rem;
}

.form-group {
    margin-bottom: 3rem;
}

.btn-element {
    background: rgb(56, 181, 230);
    background: linear-gradient(90deg, rgba(255, 163, 10, 1) 20%, rgba(234, 93, 189, 1) 100%);
    padding: .4rem 1.8rem;
    font-size: 1.4rem;
    color: #fff;
    height: 4.6rem;
    border-radius: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    border: 0;
}

.btn-element:hover {
    background: rgb(139, 220, 99);
    background: linear-gradient(90deg, rgba(139, 220, 99, 1) 0%, #38b5e6 34%, rgba(255, 163, 10, 1) 100%);
    color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

.form-control {
    border: .2rem solid var(--lightgrey);
    background-color: whitesmoke;
    height: 4.4rem;
    border-radius: 1rem;
}

.form-control:focus {
    outline: none;
    border-color: var(--green);
    box-shadow: none;
}

.label-item {
    margin-bottom: .2rem;
    text-transform: uppercase;
    font-weight: 600;
    color: gray;
    font-size: 1.1rem;
    padding-left: 1.5rem;
    letter-spacing: .5rem;
}

.content-padding {
    padding: 4rem 0;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
}

.navbar-light .navbar-nav .nav-link .caret {
    margin-left: .8rem;
}

.navbar-light .navbar-nav .nav-link svg {
    width: 1.2rem;
    height: 1.2rem;
}

.navbar-light .navbar-nav .nav-link:hover svg path {
    fill: var(--pink)
}

.initials {
    display: inline-block;
    width: 3.6rem;
    height: 3.6rem;
    line-height: 3.6rem;
    text-align: center;
    font-size: 1.2rem;
    font-family: var(--mainFont);
    font-weight: 400;
    background-color: #cacfd28f;
    color: grey;
    border-radius: 100%;
}

.navbar .initials {
    margin-left: 1rem;
}

.initials.big {
    width: 10rem;
    height: 10rem;
    line-height: 10rem;
    font-size: 3.2rem;
    font-weight: 400;
}

/*

Login Page Style
*/

.login-page-wrapper {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login-page-wrapper .btn-element {
    width: 100%;
    margin-top: 2.8rem;
}

.login-page-wrapper .title-holder {
    display: flex;
    align-items: center;
    font-size: 2.6rem;
    color: grey;
    flex-direction: column;
    margin-bottom: 6rem;
}

.login-page-wrapper .form-holder {
    width: 40rem;
}

.login-page-wrapper .subtitle {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    color: grey;
    padding-left: 1.5rem;
}

/*

End of Login Page Style
*/

/*
   Doctors Dashboard

*/

.title {
    font-weight: 300;
    font-size: 1.8rem;
    color: grey;
}

.boxed-icon {
    color: grey;
    font-size: 1.6rem;
    display: inline-flex;
    align-items: center;
    margin-bottom: 0;
}

.boxed-icon:before {
    content: "";
    display: inherit;
    height: 2rem;
    width: 2rem;
    background-size: 1.8rem;
    vertical-align: middle;
    margin-right: .4rem;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1rem;
    position: relative;
    top: -.3rem;
}

.boxed-icon.location-icon:before {
    background-image: url(../images/icons/location-green.svg);
}

.navbar {
    border: .2rem solid #d3d3d357;
    padding: .6rem 1rem;
}

.banner-with-pattern {
    background-color: #d3d3d31c;
    padding: 2.8rem 0;
    margin-bottom: 2rem;
}

.user-info-details {
    display: flex;
}

.user-info-details .user-name {
    font-size: 3rem;
    letter-spacing: .8rem;
}

.user-info-details .item-info {
    padding: 1.5rem 0 0 2.5rem;
    flex: 1;
}

.user-info-details .name {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: .4rem;
}

.filter-map-controls {
    float: right;
    display: flex;
    margin-bottom: 2rem;
    border: .2rem solid #d3d3d378;
    border-radius: 2.6rem;
    padding: .4rem;
}

.filter-map-controls .btn {
    padding: .6rem 2.8rem;
    border: 0;
    border-radius: 2rem;
    font-size: 1.3rem;
}

.filter-map-controls .btn:focus {
    outline: none;
    box-shadow: none;
}

.filter-map-controls .btn:hover {
    background-color: var(--favorite-grey);
}

.filter-map-controls .btn:first-child {
    color: var(--green);
}

.filter-map-controls .btn.active:first-child {
    background-color: var(--green);
}

.filter-map-controls .btn:nth-child(2) {
    color: var(--orange);
}

.filter-map-controls .btn.active:nth-child(2) {
    background-color: var(--orange);
}

.filter-map-controls .btn:last-child {
    color: var(--pink);
}

.filter-map-controls .btn.active:last-child {
    background-color: var(--pink);
}

.filter-map-controls .btn.active {
    color: #fff;
}

/*

Map Style
*/
#patient-map {
    height: 80rem;
    box-shadow: 0 .3rem 1.4rem rgba(0, 0, 0, 0.4);
}

.map-popup {
    display: flex;
}

.map-popup .status:before {
    content: "";
    display: inline-block;
    width: .8rem;
    height: .8rem;
    border-radius: 100%;
    margin-right: .4rem;
}

.map-popup.critical-high .status {
    color: #F44336;
}

.map-popup.critical-high .status:before {
    background-color: #F44336;
}

.map-popup.critical-low .status {
    color: #FFA726;
}

.map-popup.critical-low .status:before {
    background-color: #FFA726;
}

.map-popup.low .status {
    color: #FF7043;
}

.map-popup.low .status:before {
    background-color: #FF7043;
}

.map-popup.not-measured .status {
    color: #555C5F;
}

.map-popup.not-measured .status:before {
    background-color: #555C5F;
}

.map-popup.high .status {
    color: #FFA726;
}

.map-popup.high .status:before {
    background-color: #FFA726;
}

.map-popup.normal .status {
    color: #66BB6A;
}

.map-popup.normal .status:before {
    background-color: #66BB6A;
}

.map-popup .user-image {
    width: 5rem;
    min-width: 5rem;
    min-height: 5rem;
    height: 5rem;
    border-radius: 100%;
    padding: .2rem;
    background-color: #d3d3d3ad;
}

.map-popup .initials {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: whitesmoke;
    font-size: 1.8rem;
    line-height: 4.6rem;
    text-transform: uppercase;
}

.map-popup.critical-high .user-image {
    background-color: #F44336;
}

.map-popup.critical-low .user-image {
    background-color: #FFA726;
}

.map-popup.low .user-image {
    background-color: #FF7043;
}

.map-popup.high .user-image {
    background-color: #FFA726;
}

.map-popup.normal .user-image {
    background-color: #66BB6A;
}

.map-popup .user-image img {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.map-popup h4 {
    font-size: 1.8rem;
    margin-bottom: .4rem;
}

body .leaflet-popup-content p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.3rem;
    color: grey;
}

body .leaflet-popup-content {
    margin: 1.8rem 2rem 1.4rem 2rem;
    padding-bottom: 5rem;
    position: relative;
    padding-right: 1.4rem;
}

.map-popup .btn-element {
    color: #fff;
    line-height: 2.2rem;
    height: 3rem;
    font-size: 1.2rem;
    margin-top: 1.6rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-transform: capitalize;
}

.map-popup .location:before, .map-popup .time:before {
    content: "";
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    background-size: 1.4rem;
    margin-right: .2rem;
    margin-left: -.2rem;
    position: relative;
    top: .2rem;
}

.map-popup .location:before {
    background-image: url("../images/icons/location-grey.svg");
}

.map-popup .time:before {
    background-image: url("../images/icons/clock.svg");
}

.map-popup .info {
    padding-left: 1.4rem;
}

body .leaflet-container a.leaflet-popup-close-button {
    top: -.6rem;
    right: -.6rem;
    border: none;
    text-align: center;
    width: 2.4rem;
    height: 2.4rem;
    font: 2rem/1.4rem Tahoma, Verdana, sans-serif;
    background-color: #fff;
    padding: 0;
    line-height: 2rem;
    border-radius: 100%;
    box-shadow: 0 .3rem 1.4rem rgba(0, 0, 0, 0.4);
    transition: all .2s;
}

body .leaflet-container a.leaflet-popup-close-button:hover {
    transform: rotate(90deg);
}

/*

Leaflet Js
*/

.leaflet-pulsing-icon {
    border-radius: 100%;
    box-shadow: .1rem .1rem .8rem 0 rgba(0, 0, 0, 0.75);
}

.leaflet-pulsing-icon:after {
    content: "";
    border-radius: 100%;
    height: 300%;
    width: 300%;
    position: absolute;
    margin: -100% 0 0 -100%;
}

body .leaflet-touch .leaflet-bar {
    border-color: var(--lightgrey);
}

body .leaflet-touch .leaflet-bar a {
    color: #fff;
    font-size: 2.2rem;
    width: 3.4rem;
    height: 3.4rem;
    line-height: 3rem;
}

body .leaflet-touch .leaflet-bar a:first-child {
    color: var(--green);
    border-radius: .6rem .6rem 0 0;
    border-bottom: .2rem solid var(--lightgrey);
}

body .leaflet-touch .leaflet-bar a:last-child {
    color: var(--pink);
    border-radius: 0 0 .6rem .6rem;
}

.half-column-flex {
    display: flex;
}

.half-column-flex .flex-item {
    flex: 0 0 50%;
}

.third-column-flex {
    display: flex;
}

.third-column-flex .flex-item {
    flex: 0 0 33.33%;
}

.wrapped-sub-info {
    display: flex;
    padding-top: 2rem;
    border-top: .2rem solid #d3d3d340;
    margin-top: 2rem;
}

.wrapped-sub-info .flex-item {
    padding-right: 7rem;
}

.wrapped-sub-info p {
    font-size: 1.5rem;
    line-height: 1.6rem;
}

.wrapped-sub-info .label-item {
    padding: 0;
    display: block;
}

body .dropdown-item {
    font-size: 1.2rem;
}

.sub-info {
    color: #A6ACAF;
}

.divided-column {
    display: flex;
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: .2rem solid #d3d3d340;
}

.divided-column .wrapped-sub-info {
    flex-wrap: wrap;
    border-top: 0;
    padding-top: 0;
    margin-top: 0;
}

.divided-column .wrapped-sub-info .flex-item {
    padding-right: 2rem;
    flex: 0 0 50%;
}

.patient-card {
    padding: 2rem;
    background-image: url("../images/company-logo-patern.png");
    background-size: cover;
    background-position: center;
    width: 40rem;
    border: .2rem solid #efefef;
    border-radius: 1rem;
    overflow: hidden;
}

.patient-card .wrapped-sub-info {
    justify-content: space-between;
    padding-top: 2rem;
    border-top: .2rem solid #d3d3d340;
    margin-top: 2rem;
}

.patient-card .wrapped-sub-info .flex-item {
    padding-right: 0;
    flex: unset;
}

.patient-card .label-item {
    padding: 0;
    display: block;
}

.blood-type {
    color: #C0392B;
}

.patient-card .date {
    margin-bottom: 0;
    color: grey;
    font-weight: 300;
}

.patient-card .flex-item:last-child {
    padding-right: 0;
}

.patient-card .name {
    font-weight: bold;
    font-size: 2.4rem;
}

.patient-card .card-name {
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: .6rem;
    color: var(--orange);
    position: absolute;
    top: .4rem;
    right: .8rem;
    font-weight: bold;
}

@keyframes pulsate {
    0% {
        transform: scale(0.1, 0.1);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
    50% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
    100% {
        transform: scale(1.2, 1.2);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
}
